---
import { work } from "../resume-en.json";
import Highlight from "./Higlight.astro"

const avlaWorkCase = ["techforb", "avla"]

const EXPERIENCE = work;

EXPERIENCE.sort((a, b) => {
  const startDateA: any = new Date(a.startDate);
  const startDateB: any = new Date(b.startDate);

  return startDateB - startDateA;
});
---

<ul>
  {
    EXPERIENCE.map((exp) => {
      const fullStartDate = new Date(exp.startDate);
      const fullEndDate = exp.endDate ? new Date(exp.endDate) : new Date();
      const startDate =
        +fullStartDate.getFullYear().toString() +
        "/" +
        (fullStartDate.getMonth() + 1).toString();
      const endDate =
        +fullEndDate.getFullYear().toString() +
        "/" +
        (fullEndDate.getMonth() + 1).toString();
      return (
        <li class="mb-12">
          <article>
            <header class="flex text-lg justify-between items-start mb-3 font-bold text-gray-500">
              <div>
                <h1 class="h1">{exp.position}</h1>
                <h2 class="h2">{exp.name}</h2>
              </div>
              <time class="text-base font-bold text-gray-400">
                {startDate} - {exp.endDate ? endDate : "actualidad"}
              </time>
            </header>

            <footer class="text-base text-black-700">
              <summary class="mb-2">{exp.summary}</summary>
              {exp.urls.map((url, index) => {
                return (
                  <small>
                    Ir a
                    <a class="text-blue-500 font-semibold mr-4" href={url} target="_blank">
                      {exp.name.toLowerCase() === "techforb - avla"? avlaWorkCase[index] : exp.name}
                    </a>
                  </small>
                );
              })}
              <ul class="flex flex-wrap gap-3 mt-5">
            {exp.highlights.map((highlight) => (
              <Highlight text={highlight}></Highlight>
            ))}
          </ul>
            </footer>
          </article>
        </li>
      );
    })
  }
</ul>

<style>
  summary{
    word-wrap: break-word;
  }
</style>