---
import {currentResume as resume } from "../globals.ts";
import Highlight from "./Higlight.astro";

const projects = resume.projects;
---

<ul>
  {
    projects.map((project) => {
      return (
      <article class="p-3 m-1">
        <header class="mb-3">
          <a
            class="text-base text-green-700 font-semibold hover:text-lg hover:underline"
            title="See repository"
            href={project.url}
            target="_blank"
          >
            <h3 class="inline text-lg">{project.name}</h3>
          </a>
          {project.isActive && (
            <span class="ml-3 text-blue-600 text-xs font-semibold">
              &bull; In progress
            </span>
          )}
        </header>
        <div class="mb-3 text-thin">
          <figure class="mb-5">
            <img
              class="imagen w-[40%] min-w-[200px] rounded-md"
              src={project.picture}
              alt=""
            />
          </figure>
          <p class="font-thin opacity-75">{project.description}</p>
        </div>
        <footer>
          <ul class="flex flex-wrap gap-3 mt-5">
            {project.highlights.map((highlight) => {
              return (
              <Highlight text={highlight} />
              )
            })}
          </ul>
        </footer>
      </article>
      )
      
    })
  }
</ul>

<style>
  header {
    flex: 1;
  }
  article {
    border-bottom: 1px solid gray;
    height: 100%;
  }

  .imagen {
    aspect-ratio: 2 / 2;
    object-fit: cover;
  }
</style>
